body{
	background-color: #232323;
}

h1{
	color: white;
}

.container{
	max-width: 600px;
	margin: 0 auto;
}

.box{
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	background-color: red;
	float: left;
}

#status{
	color: white;
}